<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>플레이어</title>
<script src="lib/jquery-3.2.1.min.js"></script>
<script src="lib/webview.js"></script>
<script src="lib/MenuStrip.js"></script>
<link rel="stylesheet" type="text/css" href="lib/webview.css" />
<link rel="stylesheet" type="text/css" href="lib/MenuStrip.css" />
<script>
let video = null;
let status = 0;
let viewJunkTime = null;
const junk = { time: 0, play: null };

ready(() => {
	video = document.getElementById("video");
	video.onplaying = function() { status = 2; }
	video.onpause = function() { status = 1; }
	video.onload = function() {
		video.currentTime = 0;
		if (junk.play) {
			clearInterval(play);
		}
		document.getElementById("junkLayer").remove();
	}
	viewJunkTime = document.getElementById("viewJunkTime");
	
	const contextMenu = new ContextMenu([
		{ name: "파일 열기(&O)"
		, func: "binder.openFileDialog();"
		, perm: true
		}
	,	{ name: "종료(&C)"
		, func: "binder.close();"
		, perm: true
		}
	]);
	$(document).on("contextmenu", function(e) {
		contextMenu.open(e, document.body);
	});
});
function showJunkTime(time) {
	let h = time;
	const ms = h % 1000; h = (h - ms) / 1000;
	const s  = h %   60; h = (h -  s) /   60;
	const m  = h %   60; h = (h -  m) /   60;
	viewJunkTime.innerText = h + ":" + (m>9?"":"0")+m + ":" + (s>9?"":"0")+s + ":" + (ms>99?"":"0")+(ms>9?"":"0")+ms;
	}

drop = function () {
    binder.openFileByDrag();
}

openFile = function(file) {
	let path = file;
	let name = path;
	if (typeof file != "string") {
		// 웹샘플에서 받아온 file 객체
		path = URL.createObjectURL(file);
		name = file.name;
	}
	
	const ext = name.substring(name.length - 4);
	switch (ext.toLowerCase()) {
		case ".mp4":
		case ".mkv": {
			video.src = path;
			break;
		}
	}
	const $junkLayer = document.getElementById("junkLayer");
	if ($junkLayer) $junkLayer.remove();
}

setStatus = function(stat) {
	switch (stat) {
		case 0: return this.playOrPause();
		case 1: return this.pause();
		case 2: return this.play();
	}
}
playOrPause = function() {
	if (status == 2) {
		this.pause();
	} else {
		this.play();
	}
}
play = function() {
	if (video && video.src) {
		video.play();
	} else {
		if (!junk.play) {
			junk.play = setInterval(() => {
				showJunkTime(junk.time += 10);
			}, 10);
		}
		status = 2;
	}
}
pause = function() {
	if (video && video.src) {
		video.pause();
	} else {
		clearInterval(junk.play);
		junk.play = null;
		status = 1;
	}
}
stop = function() {
	if (video && video.src) {
		video.pause();
		video.currentTime = 0;
	} else {
		clearInterval(junk.play);
		junk.play = null;
		showJunkTime(junk.time = 0);
	}
	status = 0;
}
getTime = function() {
	if (video && video.src) {
		return Math.round(video.currentTime * 1000);
	} else {
		return junk.time;
	}
}
moveTo = function(time) {
	if (time < 0) {
		time = 0;
	}
	if (video && video.src) {
		video.currentTime = time / 1000;
	} else {
		junk.time = time;
	}
}
getFps = function() {
	return null;
}
</script>
<style>
body > * {
	position: fixed;
	top: 0;
	left: 0;
}
#video, #junkPlayer {
	width: 100%;
	height: 100%;
}
#video {
	background: #000;
}
#junkLayer {
	inset: 0px;
	background: rgb(255, 255, 255);
	opacity: 0.5;
	padding: 40px;
	text-align: center;
	font-family: '맑은 고딕';
	font-size: 20px;
}
</style>
</head>
<body>
	<video id="video" controls></video>
	<div id="junkLayer">
		동영상이 없을 경우 정크 플레이어로 동작합니다.<br />
		<br />
		우클릭 메뉴를 사용할 수 있습니다.<br />
		<br />
		<span id="viewJunkTime"></span>
	</div>
</body>
</html>