<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>겹치는 싱크 분리</title>
	<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/popup.js"></script>
	<script src="../lib/SmiEditorCM.js" type="module"></script>
	<script>
windowName = "addon";

// 초기 상태 기억
let origin = null;

let inputOrigin;
let outputUpper;
let outputLower;

function init() {
	if (opener && opener.SmiEditor.selected) {
		origin = opener.SmiEditor.selected.getText();
	} else {
		alert("작업 대상이 없습니다.");
		window.close();
		return false;
	}
	
	{	// 에디터 교체
        inputOrigin = new SmiEditor("", document.getElementById("input"));
        outputUpper = new SmiEditor("", document.getElementById("outputUpper"));
        outputLower = new SmiEditor("", document.getElementById("outputLower"));
		SmiEditor.activateKeyEvent();
    }
	
    SmiEditor.setSetting({});
    if (opener.setting) {
        SmiEditor.setHighlight(opener.setting.highlight, [inputOrigin, outputUpper, outputLower]);
    }
	
	let start = 0;
	let end = 0;
	
	// 선택 범위만 작업
	if (origin.selection[0] != origin.selection[1]) {
		start = origin.text.substring(0, origin.selection[0]).split("\n").length - 1;
		end   = origin.text.substring(0, origin.selection[1]).split("\n").length;
	} else {
		end = origin.text.split("\n").length;
	}
	
	inputOrigin.setValue(origin.text.split("\n").slice(start, end).join("\n"));
}

function smiTrim(text, prev="", next="") {
	text = text.trim();
	let valid = true;
	
	while (text.startsWith("<")) {
		const tagEnd = text.indexOf(">") + 1;
		if (tagEnd <= 0) {
			break;
		}
		prev += text.substring(0, tagEnd);
		text = text.substring(tagEnd);
		valid = false;
	}
	while (text.startsWith("​") || text.startsWith("　")) {
		text = text.substring(1);
		valid = false;
	}
	while (text.endsWith("​") || text.endsWith("　")) {
		text = text.substring(0, text.length-1);
		valid = false;
	}
	while (text.endsWith(">")) {
		const tagStart = text.lastIndexOf("<");
		if (tagStart < 0) {
			break;
		}
		next = text.substring(tagStart) + next;
		text = text.substring(0, tagStart);
		valid = false;
	}
	return valid ? (prev + text + next ) : smiTrim(text, prev, next);
}

function devide() {
	const syncs = [];
	
	{	const lines = inputOrigin.getValue().split("\n");
		let lastSync = null;
		for (let i = 0; i < lines.length; i++) {
			const line = lines[i];
			if (line.substring(0, 6).toUpperCase() == "<SYNC ") {
				// 싱크 줄이면 새 객체
				syncs.push(lastSync = {
						sync: line
					,	text: []
				});
				
			} else if (line.substring(0, 7).toUpperCase() == "</BODY>") {
				// 문서 끝
				break;
				
			} else {
				if (lastSync) {
					// 현재 싱크에 추가
					lastSync.text.push(line);
				}
				// lastSync가 없었으면 첫 싱크 줄보다 위 -> 버림
			}
		}
	}
	
	for (let i = 0; i < syncs.length; i++) {
		// 개행문자는 공백문자 처리 후 <br> 줄 단위로 나누기
		const lines = syncs[i].text.join(" ").split(/<br>/gi);
		for (let j = 0; j < lines.length; j++) {
			const line = lines[j];
			const text = smiTrim(htmlToText(line));
			lines[j] = (text == "" || text == "　") ? null : smiTrim(line);
		}
		syncs[i].text = lines;
	}
	
	const upper = [];
	const lower = [];
	let keeps = null;
	
	function devideKeeps() {
		if (keeps.length == 1) {
			lower.push(keeps[0]);
			
		} else {
			const lineCount = keeps[0].text.length;
			
			// 맨 아랫줄 기준으로 함께 바뀌는 줄을 찾음
			let devider = lineCount - 1;
			for (let cut = 0; cut < lineCount; cut++) { // 자르는 기준선 늘려가며 테스트
				let last = keeps[0];
				let clear = true;
				for (let i = 1; i < keeps.length; i++) {
					const sync = keeps[i];
					if (last.text[lineCount-1] == sync.text[lineCount-1]) { // 마지막 줄이 같음
						// 자르는 기준선보다 아래가 모두 일치해야 함
						for (let j = lineCount-2; j >= cut; j--) {
							if (last.text[j] != sync.text[j]) { // 다른 게 있으면 끝내기
								clear = false;
								break;
							}
						}
						if (!clear) break;
					} else {
						// 마지막 줄이 다름
					}
					last = sync;
				}
				if (clear) {
					// 현재가 기준선
					devider = cut;
					break;
				}
			}
			
			if (devider == 0) {
				// 맨 윗줄 기준으로 함께 바뀌는 줄을 찾음
				for (let cut = lineCount - 1; cut >= 0; cut--) { // 자르는 기준선 줄여가며 테스트
					let last = keeps[0];
					let clear = true;
					for (let i = 1; i < keeps.length; i++) {
						const sync = keeps[i];
						if (last.text[0] == sync.text[0]) { // 첫 줄이 같음
							// 자르는 기준선보다 위가 모두 일치해야 함
							for (let j = 1; j < cut; j++) {
								if (last.text[j] != sync.text[j]) { // 다른 게 있으면 끝내기
									clear = false;
									break;
								}
							}
							if (!clear) break;
						} else {
							// 마지막 줄이 다름
						}
						last = sync;
					}
					if (clear) {
						// 현재가 기준선
						devider = cut;
						break;
					}
				}
			}
			
			if (devider > 0) {
				// 분리 성공
				for (let i= 0; i < keeps.length; i++) {
					// 한 대사가 여러 싱크로 나뉜 건 아래에서 텍스트로 변환 후 조치
					const keep = keeps[i];
					upper.push({sync: keep.sync, text: keep.text.slice(0, devider)});
					lower.push({sync: keep.sync, text: keep.text.slice(devider)});
				}
				
			} else {
				// 분리 실패
				lower.concat(...keeps);
			}
		}
		keeps = null;
	}
	
	for (let i = 0; i < syncs.length; i++) {
		const sync = syncs[i];
		if (sync.text.length > 1) {
			if (keeps) {
				const last = keeps[keeps.length - 1];
				let hasEqual = false;
				if (last.text.length == sync.text.length) {
					// 줄 개수가 같을 때
					for (let j = 0; j < sync.text.length; j++) {
						if ((last.text[j] != null) && (last.text[j] == sync.text[j])) {
							// 문자열이 그대로인 줄이 있음
							hasEqual = true;
							break;
						}
					}
				}
				if (hasEqual) {
					// 문자열이 그대로인 줄이 있으면 키핑해둠
					keeps.push(sync);
				} else {
					// 줄 개수가 달라지거나
					// 모든 줄의 문자열이 달라졌으면 끊기
					devideKeeps();
					keeps = [sync];
				}
			} else {
				keeps = [sync];
			}
		} else {
			if (keeps) {
				devideKeeps();
			}
			if (!sync.text[0]) {
				// 공백일 경우 윗줄에도 추가
				upper.push({ sync: sync.sync, text: sync.text });
			}
			lower.push(sync);
		}
	}
	if (keeps) {
		devideKeeps();
	}
	
	// 위-아래 두 번만 돌리기 위한 유사 루프
	const lists = [upper, lower];
	for (let _ = 0; _ < 2; _++) {
		const list = lists[_];
		let last = "&nbsp;";
		for (let i = 0; i < list.length; i++) {
			const lines = list[i].text;
			const newLines = [];
			let j = 0;
			// 위쪽의 공백은 걷어냄
			for (; j < lines.length; j++) {
				if (lines[j] != null) {
					newLines.push(lines[j++]);
					break;
				}
			}
			for (; j < lines.length; j++) {
				if (lines[j] == null) {
					newLines.push("<b>　</b>");
				} else {
					newLines.push(lines[j]);
				}
			}
			const text = newLines.length ? newLines.join("<br>") : "&nbsp;";
			
			if (text == last) {
				// 중복 걷어내기
				list.splice(i--, 1);
			} else {
				list[i].text = last = text;
			}
		}
		
		for (let i = 0; i < list.length; i++) {
			list[i] = list[i].sync + "\n" + list[i].text;
		}
	}
	
	outputUpper.setValue(upper.join("\n"));
	outputLower.setValue(lower.join("\n"));
}

ready(() => {
	init();
	document.getElementById("btnDevide").addEventListener("click", devide);
	devide();
});
	</script>
	<style>
body > * {
	position: absolute;
}

#input,
#outputUpper,
#outputLower {
	position: absolute;
	width: calc(50% - 10px);
	border-width: 0;
	border-top: 1px solid #aaa;
}

#input {
	top: 0;
	left: 0;
	height: 100%;
}

#outputUpper {
	top: 0;
	left: calc(50% + 10px);
	height: calc(50% - 1px);
}

#outputLower {
	top: 50%;
	left: calc(50% + 10px);
	height: 50%;
}

button#btnDevide {
	position: absolute;
	top: 0;
	left: calc(50% - 10px);
	width: 20px;
	height: 100%;
}

	</style>
</head>
<body>
	<textarea id="input"></textarea>
	<button id="btnDevide">＞</button>
	<textarea id="outputUpper"></textarea>
	<textarea id="outputLower"></textarea>
</body>
</html>