<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>여러 SMI 파일에서 찾기</title>
	<script src="../lib/popup.js"></script>
	<script src="../lib/Combine.js" type="module"></script>
	<script src="../lib/SmiEditorCM.js" type="module"></script>
	<script>
windowName = "addon";

const FILE = "SearchFiles.txt";

ready(() => {
	const form = document.getElementsByTagName("form")[0];
	const results      = document.getElementById("results"     );
	const resizer      = document.getElementById("resizer"     );
	const viewer       = document.getElementById("viewer"      );
	const inputDir     = document.getElementById("inputDir"    );
	const dirCurrent   = document.getElementById("dirCurrent"  );
	const inputQuery   = document.getElementById("inputQuery"  );
	const dlSubDirs    = document.getElementById("dlSubDirs"   );
	const dlLastDirs   = document.getElementById("dlLastDirs"  );
	const dlLastQuerys = document.getElementById("dlLastQuerys");
	const editor = new SmiEditor();
	viewer.append(editor.area);
	
	const smiPath = opener.getCurrentTab().path;
	if (smiPath) {
		const dirs = smiPath.replaceAll("/", "\\").split("\\");
		dirCurrent.innerText = dirs.slice(0, dirs.length - 1).join("\\");
		document.getElementById("labelCurrent").querySelector("input[name=dir]").click();
	} else {
		dirCurrent.innerText = "(없음)";
		document.getElementById("labelCurrent").classList.add("disabled");
		document.getElementById("labelCurrent").querySelector("input[name=dir]").disabled = true;
		document.getElementById("labelInput").querySelector("input[name=dir]").click();
	}
	
	const lastDirs = [];
	const lastQuerys = [];
	// <datalist> 다시 그리기
	function refreshDatalist(dl, list) {
		if (dl.length) dl = dl[0];
		dl.innerHTML = "";
		for (let i = 0; i < list.length; i++) {
			const item = list[i];
			const option = document.createElement("option");
			option.label = item;
			option.value = item;
			dl.append(option);
		}
	}
	// 항목 입력 시 목록 갱신
	function updateDatalist(dl, list, item) {
		const index = list.indexOf(item);
		if (index == 0) return;
		
		if (dl.length) dl = dl[0];
		if (index > 0) {
			list.splice(index, 1);
			dl.prepend(dl.children[index]);
		} else {
			const option = document.createElement("option");
			option.label = item;
			option.value = item;
			dl.append(option);
		}
		list.splice(0, 0, item);
		if (list.length > 20) {
			list.length = 20;
			let last = null;
			while (last = dl.children[20]) {
				last.remove();
			}
		}
	}
	
	let ratio = 0.5;
	
	// 설정 저장
	function saveLast() {
		saveAddonSetting(FILE, lastDirs.join("\n") + "\n\n" + lastQuerys.join("\n") + "\n\n" + ratio);
	}
	
	// 설정 저장된 것 가져오기
	if (loadAddonSetting) {
		loadAddonSetting(FILE, (text) => {
			const lines = text.split("\n");
			
			let i = 0;
			for (; i < lines.length; i++) {
				const line = lines[i];
				if (line) {
					lastDirs.push(line);
				} else {
					i++;
					break;
				}
			}
			for (; i < lines.length; i++) {
				const line = lines[i];
				if (line) {
					lastQuerys.push(line);
				} else {
					i++;
					break;
				}
			}
			
			refreshDatalist(dlLastDirs, lastDirs);
			refreshDatalist(dlLastQuerys, lastQuerys);

			for (; i < lines.length; i++) {
				const line = lines[i];
				if (line) {
					try {
						ratio = Number(line);
						results.style.height = `calc(${ 100 * ratio }% - 32px)`;
						viewer.style.height = `calc(${ (100 * (1 - ratio)) }% - 32px)`;
					} catch (e) {}
				} else {
					break;
				}
			}
			
			if (lastDirs.length) document.getElementById("inputDir").value = lastDirs[0];
		});
	}
	
	inputDir.addEventListener("input", () => {
		const value = inputDir.value.replaceAll("/", "\\");
		if (value) {
			inputDir.list = "dlSubDirs";
			const index = value.lastIndexOf("\\");
			if (index > 0) {
				opener.binder.getSubDirs(value.substring(0, index));
			} else {
				dlSubDirs.innerHTML = "";
			}
		} else {
			// 입력된 게 없으면 최근 사용한 목록
			inputDir.list = "dlLastDirs";
		}
	});
	inputDir.addEventListener("focus", () => {
		inputDir.parentNode.querySelector("input[type=radio]").checked = true;
	});
	opener.afterGetSubDirs = function(dirs) {
		refreshDatalist(dlSubDirs, dirs.split("\n"));
	}
	
	let query = "test";
	let dir = "";
	form.addEventListener("submit", (e) => {
		e.preventDefault();
		
		query = inputQuery.value;
		if (!query) {
			alert("검색어를 입력해 주세요.");
			return false;
		}
		dir = (document.querySelector("input[name=dir]:checked").value == "current") ? dirCurrent.innerText : inputDir.value;
		
		updateDatalist(dlLastDirs, lastDirs, dir);
		updateDatalist(dlLastQuerys, lastQuerys, query);
		saveLast();
		
		results.innerHTML = "";
		opener.binder.searchFiles(dir, query);
	});
	
	opener.afterFound = function(name, text) {
		const holds = SmiFile.textToHolds(text);
		const assFoot = (holds[0].ass ? `<!-- ASS\n${holds[0].ass}\n-->` : "");
		const texts = [holds[0].toText()];
		for (let i = 1; i < holds.length; i++) {
            texts.push(holds[i].text);
		}
		holds.push(assFoot);
		text = texts.join("\n───홀드───\n");
		
		const file = document.createElement("li");
		file.classList.add("file");
		eData(file, { text: text });
		const ol = document.createElement("ol");
		{	const h3 = document.createElement("h3");
			h3.innerText = name;
			file.append(h3);
		}
		file.append(ol);
		
		const lines = text.split("\n");
		let offset = 0;
		for (let i = 0; i < lines.length; i++) {
			const line = lines[i];
			const index = line.indexOf(query);
			if (index < 0) {
				offset += line.length + 1;
				continue;
			}
			
			const li = document.createElement("li");
			li.classList.add("line");
			li.innerText = line;
			li.innerHTML = (`Line ${i+1}: ` + li.innerHTML.replaceAll(query, `<b>${query}</b>`));
			eData(li, { line: i, pos: offset + index });
			ol.append(li);
			
			offset += line.length + 1;
		}
		
		results.append(file);
	}
	
	results.addEventListener("click", (e) => {
		const li = e.target.closest("li.line");
		if (!li) return;
		
		const file = li.parentNode.parentNode;
		const cursor = eData(li).pos;
		editor.setText(eData(file).text, [cursor, cursor + query.length]);
		editor.focus();
	});
	
	let resizeFrom = null;
	resizer.addEventListener("mousedown", (e) => {
		resizeFrom = { y: e.pageY, r: results.offsetHeight, v: viewer.offsetHeight };
	});
	document.addEventListener("mousemove", (e) => {
		if (!resizeFrom) return;
		
		let moved = e.pageY - resizeFrom.y;
		let r = resizeFrom.r + moved;
		if (r < 50) {
			r = 50;
			moved = r - resizeFrom.r;
		}
		let v = resizeFrom.v - moved;
		if (v < 50) {
			v = 50;
			moved = resizeFrom.v - v;
			r = resizeFrom.r + moved;
		}
		results.style.height = r + "px";
		viewer .style.height = v + "px";
		
	});
	document.addEventListener("mouseup", (e) => {
		if (!resizeFrom) return;
		
		resizeFrom = null;
		ratio = (results.offsetHeight + 32) / window.innerHeight;
		results.style.height = `calc(${ 100 *      ratio  }% - 32px)`;
		viewer .style.height = `calc(${ 100 * (1 - ratio) }% - 32px)`;
		saveLast();
	});
	
	SmiEditor.ROOT = "../";
	SmiEditor.setHighlight(opener.setting.highlight, () => {
		return [editor];
	});
	
	inputQuery.focus();
});
	</script>
	<style>
form { height: 60px; }
form > * { height: 20px; }
label {
	display: block;
	width: 100%;
}
label.disabled {
	color: #888;
}
label > input[type=radio] { width: 20px; }
label > span.label { display: inline-block; width: 70px; }
label > input[type=text] { width: calc(100% - 90px); }
#inputQuery { width: calc(100% - 50px); }
button[type=submit] { width: 50px; }

#results {
	height: calc(50% - 32px);
	overflow-y: scroll;
	border-top: 1px solid #000;
}
#results * {
	width: 100%;
}
#results h3,
#results li.line {
	white-space: pre;
	text-overflow: ellipsis;
	overflow-x: hidden;
}
#results h3 {
	background: #D5FFD5;
	color: #017D00;
	font-size: 14px;
	padding: 0 4px;
}
#results li.line {
	padding: 0 4px 0 14px;
	cursor: pointer;
}
#results li.line:hover {
	background: #E8E8FF;
}

#resizer {
	width: 100%;
	height: 4px;
	cursor: n-resize;
	background: #ccc;
}

#viewer {
	position: relative;
	height: calc(50% - 32px);
	width: 100%;
}
	</style>
</head>
<body class="mode1">
	<form>
		<label id="labelCurrent" title="Alt+1">
			<input type="radio" name="dir" value="current" accesskey="1"
			/><span class="label">현재 폴더: </span><span id="dirCurrent"></span>
		</label>
		<label id="labelInput" title="Alt+2">
			<input type="radio" name="dir" value="input" accesskey="2"
			/><span class="label">직접 입력: </span><input type="text" id="inputDir" placeholder="폴더 경로" list="dlLastDirs" />
		</label>
		<div><input type="text" id="inputQuery" accesskey="f" title="Alt+F"
				placeholder="검색어" list="dlLastQuerys" /><button type="submit">검색</button></div>
			<datalist id="dlSubDirs"></datalist>
			<datalist id="dlLastDirs"></datalist>
			<datalist id="dlLastQuerys"></datalist>
	</form>
	<ol id="results"></ol>
	<div id="resizer"></div>
	<div id="viewer"></div>
</body>
</html>