<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>여러 SMI 파일에서 찾기</title>
	<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/SubtitleObject.js"></script>
	<script src="../lib/popup.js"></script>
	<script src="../lib/History.js"></script>
	<script src="../lib/SmiEditor.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css" />
	<link rel="stylesheet" type="text/css" href="../lib/SmiEditor.css" />
	<script>
windowName = "addon";

const FILE = "SearchFiles.txt";

ready(() => {
	const $form = $("form");
	const $results = $("#results");
	const $resizer = $("#resizer");
	const $viewer = $("#viewer");
	const $inputDir = $("#inputDir");
	const $dirCurrent = $("#dirCurrent");
	const $inputQuery = $("#inputQuery");
	const $dlSubDirs = $("#dlSubDirs");
	const $dlLastDirs = $("#dlLastDirs");
	const $dlLastQuerys = $("#dlLastQuerys");
	const $editor = new SmiEditor();
	$viewer.append($editor.area);
	
	const smiPath = opener.getCurrentTab().path;
	if (smiPath) {
		const dirs = smiPath.replaceAll("/", "\\").split("\\");
		$dirCurrent.text(dirs.slice(0, dirs.length - 1).join("\\"));
		$("#labelCurrent input[name=dir]").click();
	} else {
		$dirCurrent.text("(없음)");
		$("#labelCurrent").addClass("disabled");
		$("#labelCurrent input[name=dir]").attr("disabled", true);
		$("#labelInput   input[name=dir]").click();
	}
	
	const lastDirs = [];
	const lastQuerys = [];
	// <datalist> 다시 그리기
	function refreshDatalist($dl, list) {
		$dl.empty();
		for (let i = 0; i < list.length; i++) {
			const item = list[i];
			$dl.append($("<option>").attr({ label: item, value: item }));
		}
	}
	// 항목 입력 시 목록 갱신
	function updateDatalist($dl, list, item) {
		const index = list.indexOf(item);
		if (index == 0) return;
		
		if (index > 0) {
			list.splice(index, 1);
			$dl.prepend($dl.children()[index]);
		} else {
			$dl.prepend($("<option>").attr({ label: item, value: item }));
		}
		list.splice(0, 0, item);
		if (list.length > 20) {
			list.length = 20;
			let last = null;
			while (last = $dl.children()[20]) {
				$(last).remove();
			}
		}
	}
	
	let ratio = 0.5;
	
	// 설정 저장
	function saveLast() {
		saveAddonSetting(FILE, lastDirs.join("\n") + "\n\n" + lastQuerys.join("\n") + "\n\n" + ratio);
	}
	
	// 설정 저장된 것 가져오기
	if (loadAddonSetting) {
		loadAddonSetting(FILE, (text) => {
			const lines = text.split("\n");
			
			let i = 0;
			for (; i < lines.length; i++) {
				const line = lines[i];
				if (line) {
					lastDirs.push(line);
				} else {
					i++;
					break;
				}
			}
			for (; i < lines.length; i++) {
				const line = lines[i];
				if (line) {
					lastQuerys.push(line);
				} else {
					i++;
					break;
				}
			}
			
			refreshDatalist($dlLastDirs, lastDirs);
			refreshDatalist($dlLastQuerys, lastQuerys);

			for (; i < lines.length; i++) {
				const line = lines[i];
				if (line) {
					try {
						ratio = Number(line);
						$results.css({ height: "calc(" + (100 * ratio) + "% - 32px)" });
						$viewer.css({ height: "calc(" + (100 * (1 - ratio)) + "% - 32px)" });
					} catch (e) {}
				} else {
					break;
				}
			}
			
			if (lastDirs.length) $("#inputDir").val(lastDirs[0]);
		});
	}
	
	$inputDir.on("input propertychange", () => {
		const value = $inputDir.val().replaceAll("/", "\\");
		if (value) {
			$inputDir.attr({ list: "dlSubDirs" });
			const index = value.lastIndexOf("\\");
			if (index > 0) {
				opener.binder.getSubDirs(value.substring(0, index));
			} else {
				$dlSubDirs.empty();
			}
		} else {
			// 입력된 게 없으면 최근 사용한 목록
			$inputDir.attr({ list: "dlLastDirs" });
		}
	}).on("focus", () => {
		$inputDir.parent().find("input[type=radio]").prop("checked", true);
	});
	opener.afterGetSubDirs = function(dirs) {
		refreshDatalist($dlSubDirs, dirs.split("\n"));
	}
	
	let query = "test";
	let dir = "";
	$form.on("submit", function() {
		query = $inputQuery.val();
		if (!query) {
			alert("검색어를 입력해 주세요.");
			return false;
		}
		dir = ($("input[name=dir]:checked").val() == "current") ? $dirCurrent.text() : $inputDir.val();
		
		updateDatalist($dlLastDirs, lastDirs, dir);
		updateDatalist($dlLastQuerys, lastQuerys, query);
		saveLast();
		
		$results.empty();
		opener.binder.searchFiles(dir, query);
		
		return false;
	});
	
	opener.afterFound = function(name, text) {
		const $file = $("<li>").addClass("file").data({ text: text });
		const $ol = $("<ol>");
		$file.append($("<h3>").text(name)).append($ol);
		
		const lines = text.split("\n");
		let offset = 0;
		for (let i = 0; i < lines.length; i++) {
			const line = lines[i];
			const index = line.indexOf(query);
			if (index < 0) {
				offset += line.length + 1;
				continue;
			}
			
			const $line = $("<li>").addClass("line").text(line).data({ line: i, pos: offset + index });
			$ol.append($line.html("Line " + (i + 1) + ": " + $line.html().replaceAll(query, "<b>" + query + "</b>")));
			
			offset += line.length + 1;
		}
		
		$results.append($file);
	}
	
	$results.on("click", "li.line", function() {
		const $line = $(this);
		const $file = $line.parent().parent();
		const text = $file.data("text");
		const line = $line.data("line");
		const cursor = $line.data("pos");
		$editor.setText(text, [cursor, cursor + query.length]);
		$editor.input.focus();
	});
	
	let resizeFrom = null;
	$resizer.on("mousedown", function(e) {
		resizeFrom = { y: e.pageY, r: $results.height(), v: $viewer.height() };
	});
	$(document).on("mousemove", function(e) {
		if (!resizeFrom) return;
		
		let moved = e.pageY - resizeFrom.y;
		let r = resizeFrom.r + moved;
		if (r < 50) {
			r = 50;
			moved = r - resizeFrom.r;
		}
		let v = resizeFrom.v - moved;
		if (v < 50) {
			v = 50;
			moved = resizeFrom.v - v;
			r = resizeFrom.r + moved;
		}
		$results.height(r);
		$viewer.height(v);
		
	}).on("mouseup", function(e) {
		if (!resizeFrom) return;
		
		resizeFrom = null;
		ratio = ($results.height() + 32) / window.innerHeight;
		$results.css({ height: "calc(" + (100 * ratio) + "% - 32px)" });
		$viewer.css({ height: "calc(" + (100 * (1 - ratio)) + "% - 32px)" });
		saveLast();
	});
	
	SmiEditor.ROOT = "../";
	SmiEditor.setHighlight(opener.setting.highlight, () => {
		return [$editor];
	});
	
	$inputQuery.focus();
});
	</script>
	<style>
form { height: 60px; }
form > * { height: 20px; }
label {
	display: block;
	width: 100%;
}
label.disabled {
	color: #888;
}
label > input[type=radio] { width: 20px; }
label > span.label { display: inline-block; width: 70px; }
label > input[type=text] { width: calc(100% - 90px); }
#inputQuery { width: calc(100% - 50px); }
button[type=submit] { width: 50px; }

#results {
	height: calc(50% - 32px);
	overflow-y: scroll;
	border-top: 1px solid #000;
}
#results * {
	width: 100%;
}
#results h3,
#results li.line {
	white-space: pre;
	text-overflow: ellipsis;
	overflow-x: hidden;
}
#results h3 {
	background: #D5FFD5;
	color: #017D00;
	font-size: 14px;
	padding: 0 4px;
}
#results li.line {
	padding: 0 4px 0 14px;
	cursor: pointer;
}
#results li.line:hover {
	background: #E8E8FF;
}

#resizer {
	width: 100%;
	height: 4px;
	cursor: n-resize;
	background: #ccc;
}

#viewer {
	position: relative;
	height: calc(50% - 32px);
	width: 100%;
}
.hold > .input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
	</style>
</head>
<body class="mode1">
	<form>
		<label id="labelCurrent" title="Alt+1">
			<input type="radio" name="dir" value="current" accesskey="1"
			/><span class="label">현재 폴더: </span><span id="dirCurrent"></span>
		</label>
		<label id="labelInput" title="Alt+2">
			<input type="radio" name="dir" value="input" accesskey="2"
			/><span class="label">직접 입력: </span><input type="text" id="inputDir" placeholder="폴더 경로" list="dlLastDirs" />
		</label>
		<div><input type="text" id="inputQuery" accesskey="f" title="Alt+F"
				placeholder="검색어" list="dlLastQuerys" /><button type="submit">검색</button></div>
			<datalist id="dlSubDirs"></datalist>
			<datalist id="dlLastDirs"></datalist>
			<datalist id="dlLastQuerys"></datalist>
	</form>
	<ol id="results"></ol>
	<div id="resizer"></div>
	<div id="viewer"></div>
</body>
</html>