<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>화면 싱크 매니저 (구버전)</title><!-- 웹샘플에서 작업이 필요할 때를 위해 남겨둠 -->
	<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/SubtitleObject.js"></script>
	<script src="../lib/popup.js"></script>
	<script src="../lib/SmiEditor.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css" />
	<script>
windowName = "addon";

// 초기 상태 기억
let tab = null;
let origin = null;

function smi2assTime(ms) {
	ms = Math.max(0, ms);
	const h = Math.floor(ms / 3600000);
	const m = Math.floor(ms / 60000) % 60;
	const s = Math.floor(ms / 1000) % 60;
	const ds= Math.floor(ms / 10) % 100;
	return h + ":" + (m<10?"0":"")+m + ":" + (s<10?"0":"")+s + "." + (ds<10?"0":"")+ds;
}
function ass2smiTime(time) {
	const vs = time.split(":");
	return (Number(vs[0]) * 3600000) + (Number(vs[1]) * 60000) + (Number(vs[2].split(".").join("")) * 10);
}

requestClose = confirmCancel;

function getSync(line) {
	line = line.toUpperCase();
	if (line.substring(0, 6) == "<SYNC ") {
		let sync = 0;
		let index = line.indexOf(" START=") + 7;
		if (index > 7) {
			if (line[index] == '"' || line[index] == "'") {
				index++;
			}
			for (let j = index; j < line.length; j++) {
				const c = line[j];
				if (!isFinite(c)) {
					break;
				}
				sync = sync * 10 + Number(c);
			}
		}
		return sync;
	}
	return null;
}

function splitOrigin() {
	if (!origin) {
		alert("작업 대상이 없습니다.");
		window.close();
		return false;
	}
	origin.tab = tab;
	origin.lines = tab.lines;
	origin.start = 0;
	origin.end = 0;

	// 선택 범위만 작업
	if (origin.selection[0] != origin.selection[1]) {
		origin.start = origin.text.substring(0, origin.selection[0]).split("\n").length - 1;
		origin.end   = origin.text.substring(0, origin.selection[1]).split("\n").length;
	} else {
		origin.end = origin.text.split("\n").length;
	}
	
	const syncs = [];
	let last = {
			start: 0
		,	end: 0
		,	startType: 0
		,	endType: 0
		,	lines: []
	};
	const header = [];
	const footer = [];
	
	let i = origin.start;
	for (; i < origin.end; i++) {
		const line = origin.lines[i];
		if (line.TYPE != null) {
			break;
		}
		header.push(line.TEXT);
	}
	let frameCount = 0;
	for (; i < origin.end; i++) {
		const line = origin.lines[i];
		if (line.TEXT.toUpperCase() == "</BODY>") {
			break;
		}
		if (line.TYPE) { // 싱크
			if (line.TYPE == TYPE.RANGE) { // 중간 싱크
				last.lines.push("<~>");
				
			} else {
				last.end     = line.SYNC;
				last.endType = line.TYPE;
				syncs.push(last = {
						start    : line.SYNC
					,	startType: line.TYPE
					,	end: 0
					,	endType: 0
					,	lines: []
				});
				if (line.TYPE == TYPE.FRAME) {
					frameCount++;
				}
			}
			
		} else { // 텍스트
			last.lines.push(line.TEXT.split("\r")[0]);
		}
	}
	if (frameCount == 0) {
		alert("작업 대상이 없습니다.");
		window.close();
		return false;
	}
	for (; i < origin.end; i++) {
		const line = origin.lines[i];
		footer.push(line.TEXT);
	}
	
	let forBasic = header;
	const forFrameAss = [];
	const forFrameSmi = [];
	
	for (let i = 0; i < syncs.length; i++) {
		const sync = syncs[i];
		if (sync.startType == 1) {
			forBasic.push(sync.start);
			forBasic.push(sync.lines.join("\n").split("\n<~>\n").join("<~>"));
		} else {
			forFrameSmi.push(SmiEditor.makeSyncLine(sync.start, TYPE.FRAME));
			// 싱크 내 줄바꿈은 임시로 존재하지 않는 문법 </>로 교체
			forFrameSmi.push(sync.lines.join("</>").split("</><~></>").join("<~>"));
		}
	}
	{	// forBasic
		forBasic.push(...footer);
		const lines = [];
		for (let i = 0; i < forBasic.length; i++) {
			const thisSync = forBasic[i];
			if (typeof thisSync == "number") {
				lines.push(SmiEditor.makeSyncLine(thisSync, TYPE.BASIC));
			} else if (typeof thisSync == "string") {
				lines.push(thisSync);
			}
		}
		forBasic = lines.join("\n");
	}
	
	// Aegisub용으로 반프레임 보정
	const add = Math.floor((Subtitle.video.FL / 2) + 0.5);
	
	let requiredEnd = false;
	// 역순으로 탐색: 종료싱크보단 시작싱크가 화면싱크인 걸 먼저 탐색
	for (let i = syncs.length - 1; i >= 0; i--) {
		const sync = syncs[i];
		if (sync.end == 0) sync.end = 35999999; // 마지막 싱크는 종료 시간이 없을 수 있음
		if (sync.startType == 2) {
			let text = $("<span>").html(sync.lines.join("\\N").split(/<br>/gi).join("\\N")).text().trim();
			if (requiredEnd) { // []
				forFrameAss.unshift("Dialogue: 0," + smi2assTime(sync.end   - add) + "," + smi2assTime(sync.end   + add) + ",［）,,0000,0000,0000,,&nbsp;");
				forFrameAss.unshift("Dialogue: 0," + smi2assTime(sync.start - add) + "," + smi2assTime(sync.start + add) + ",［）,,0000,0000,0000,," + text);
				requiredEnd = false;
				
			} else { // [)
				if (i == 0 && text.length == 0) { // 첫 싱크는 무시되지 않도록
					text = "&nbsp;";
				}
				if (text.length) {
					forFrameAss.unshift("Dialogue: 0," + smi2assTime(sync.start - add) + "," + smi2assTime(sync.start + add) + ",［）,,0000,0000,0000,," + text);
					
				} else { // 공백 싱크: 앞 싱크의 종료싱크 처리 필요
					requiredEnd = true;
				}
			}
			
		} else {
			if (requiredEnd) { // (]
				let text = $("<span>").html(sync.lines.join("\\N").split(/<br>/gi).join("\\N")).text().trim();
				forFrameAss.unshift("Dialogue: 0," + smi2assTime(sync.end - add) + "," + smi2assTime(sync.end + add) + ",［）,,0000,0000,0000,,&nbsp;");
				requiredEnd = false;
			}
		}
	}
	
	$("#originBasicSmi").val(forBasic);
	$("#originFrameAss").val(forFrameAss.join("\n"));
	$("#originFrameSmi").val(forFrameSmi.join("\n"));
	
	return true;
}

function frameAssToSmi() {
	// Aegisub용으로 반프레임 보정
	const add = Math.floor((Subtitle.video.FL / 2) + 0.5);
	
	const origLines = $("#originFrameAss").val().split("\n").sort(); // 순서 섞어서 작업한 것 시간 순 정렬
	let last = 0;
	const lines = [];
	for (let i = 0; i < origLines.length; i++) {
		const line = origLines[i].split(",");
		if (line.length > 9) {
			const start = line[1];
			const end   = line[2];
			const type  = line[3];
			const text  = line.slice(9).join(",");
			if (type[0] == '［') {
				if (last && last != start) {
					lines.push("&nbsp;");
				}
				lines.push(SmiEditor.makeSyncLine(SmiEditor.getSyncTime(start == "0:00:00.00" ? 1 : (ass2smiTime(start) + add))));
				let splitTag = text.split("}");
				splitTag = splitTag[splitTag.length == 1 ? 0 : 1]
				lines.push(splitTag.split("\\N").join("<br>"));
			} else if (last) {
				lines.push("&nbsp;");
			}
			last = 0;
			if (type[1] == '］') {
				lines.push(SmiEditor.makeSyncLine(SmiEditor.getSyncTime(ass2smiTime(end) + add)));
				last = end;
			}
		}
	}
	if (last) {
		lines.push("&nbsp;");
	}
	$("#targetFrameSmi").val(lines.join("\n"));
	
	checkDiff();
}

function joinFrame() {
	const resultFrameSmi = $("#resultFrameSmi");
	const checked = checkDiff();
	if (!checked) {
		alert("오차가 큽니다");
		resultFrameSmi.val("");
		return;
	}

	const originLines = checked[0];
	const targetLines = checked[1];
	
	const lines = [];
	let lastSync = 0;
	for (let i = 0; i < originLines.length; i++) {
		if (typeof originLines[i] == "number") {
			const thisSync = targetLines[i];
			lines.push(SmiEditor.makeSyncLine(lastSync = thisSync, TYPE.FRAME));
		} else {
			const lastLine = originLines[i].split("<~>");
			lines.push(lastLine[0]);
			for (let j = 1; j < lastLine.length; j++) {
				lines.push("<~>");
				lines.push(lastLine[j]);
			}
		}
	}
	
	resultFrameSmi.val(lines.join("\n"));
}

function checkDiff() {
	const originFrameSmi = $("#originFrameSmi");
	const targetFrameSmi = $("#targetFrameSmi");
	
	const originLines = originFrameSmi.val().split("\n");
	const targetLines = targetFrameSmi.val().split("\n");
	
	const height = Math.max(originLines.length, targetLines.length) * 14 + 4;
	originFrameSmi.css({ height: height });
	targetFrameSmi.css({ height: height });

	if (originLines.length != targetLines.length) {
		if (targetLines[0].length > 0) {
			$("#checker").empty(); // 오차 경고는 없애줌
			alert("줄 수가 안 맞습니다.");
		}
		return false;
	}
	
	for (let i = 0; i < originLines.length; i++) {
		const line = originLines[i];
		const sync = getSync(line);
		if (sync) {
			originLines[i] = sync;
		}
	}
	for (let i = 0; i < targetLines.length; i++) {
		const line = targetLines[i];
		const sync = getSync(line);
		if (sync) {
			targetLines[i] = sync;
		} else {
			targetLines[i] = $("<span>").html(line).text().trim();
		}
	}
	
	let joinnable = true;
	const areaChecker = $("#checker").empty();
	if (targetLines.length > 1) {
		for (let i = 0; i < Math.min(originLines.length, targetLines.length); i++) {
			if (isFinite(originLines[i]) && isFinite(targetLines[i])) {
				// 과도한 싱크 이동 검사
				const dist = Math.abs(originLines[i] - targetLines[i]);
				if (dist > 200) {
					if (dist > 500) {
						joinnable = false;
					}
					// 싱크 오차 과다 경고
					const alpha = Math.min(0.5, ((dist - 100) / 1000));
					areaChecker.append($("<div>").css({
							position: "absolute"
						,	top: i * 14
						,	left: 0
						,	width: "100%"
						,	height: "14px"
						,	background: "rgba(255, 0, 0, " + alpha + ")"
					}));
				}
				// 일반 싱크와 충돌 검사
				let count = 0;
				for (let j = 0; j < origin.lines.length; j++) {
					const line = origin.lines[j];
					if (line.TYPE == TYPE.BASIC) {
						if ((originLines[i] < line.SYNC && line.SYNC < targetLines[i])
						 || (targetLines[i] < line.SYNC && line.SYNC < originLines[i])) {
							joinnable = false;
							areaChecker.append($("<div>").css({
									position: "absolute"
								,	top: i * 14
								,	left: 0
								,	width: "100%"
								,	height: "14px"
								,	background: "rgba(255, 0, 0, 1)"
							}));
							if (count++ < 5) {
								alert("기존 싱크(" + originLines[i] + ")와 바꿀 싱크(" + targetLines[i] + ") 사이에\n다른 일반 싱크가 있습니다.");
							} else {
								alert("싱크 충돌 확인을 중단합니다.");
								break;
							}
						}
					}
				}
				
			} else {
				if ($("<span>").html(originLines[i]).text().trim() != targetLines[i]) {
					// 텍스트 오차 경고
					areaChecker.append($("<div>").css({
							position: "absolute"
						,	top: i * 14
						,	left: 0
						,	width: "100%"
						,	height: "14px"
						,	background: "rgba(255, 255, 0, 0.3)"
					}));
				}
			}
		}
	}
	
	return joinnable ? [originLines, targetLines] : false;
}

function apply() {
	const basicText = $("#originBasicSmi").val();
	const frameText = $("#resultFrameSmi").val();
	let lines = [];
	
	if (frameText.length == 0) {
		alert("작업이 이뤄지지 않았습니다.");
		return;
	}
	const basicLines = basicText.length
	                 ? basicText.split("\n") : [];
	const frameLines = frameText.split("\n");
	
	let bi = 0;
	let fi = 0;
	let bLast = -1;
	let fLast = -1;
	
	// 싱크보다 앞에 있는 것들
	for (; bi < basicLines.length; bi++) {
		const basicLine = basicLines[bi].toUpperCase();
		if (basicLine == "</BODY>"
		 || basicLine == "</SAMI>") {
			bLast = 999999999;
			break;
		}
		const sync = getSync(basicLine);
		if (sync) {
			bLast = sync;
			break;
		}
		lines.push(basicLines[bi]);
	}
	for (; fi < frameLines.length; bi++) {
		const sync = getSync(frameLines[fi]);
		if (sync) {
			fLast = sync;
			break;
		}
		lines.push(frameLines[fi]);
	}
	
	// 싱크 순서대로 정렬
	while (bi < basicLines.length && fi < frameLines.length) {
		const bLine = basicLines[bi];
		const fLine = frameLines[fi];
		
		if (bLast <= fLast) {
			const bLines = bLine.split("<~>");
			lines.push(bLines[0]);
			for (let i = 1; i < bLines.length; i++) {
				lines.push("<~>");
				lines.push(bLines[i]);
			}
			if (++bi >= basicLines.length) break;
			const sync = getSync(basicLines[bi]);
			if (sync) {
				bLast = sync;
			} else if (basicLines[bi].toUpperCase() == "</BODY>") {
				break;
			}
		} else {
			lines.push(fLine);
			if (++fi >= frameLines.length) break;
			const sync = getSync(frameLines[fi]);
			if (sync) fLast = sync;
		}
	}
	
	// 싱크 겹치는 범위 이후 남은 것들
	for (; fi < frameLines.length; fi++) {
		const fLines = frameLines[fi].split("<~>");
		lines.push(fLines[0]);
		for (let i = 1; i < fLines.length; i++) {
			lines.push("<~>");
			lines.push(fLines[i]);
		}
	}
	for (; bi < basicLines.length; bi++) {
		const bLines = basicLines[bi].split("<~>");
		lines.push(bLines[0]);
		for (let i = 1; i < bLines.length; i++) {
			lines.push("<~>");
			lines.push(bLines[i]);
		}
	}
	
	// 해당 줄 앞뒤 전체 선택되도록 조정
	const origLines = origin.text.split("\n");
	const front = origLines.slice(0, origin.start);
	const range = [(origin.start > 0) ? (front.join("\n").length + 1) : 0];
	
	// 중간 싱크 재생성
	let lastSyncLine = -1;
	for (let i = 0; i < lines.length; i++) {
		const line = lines[i];
		if (line == "<~>") { // 중간 싱크 시작
			for (let j = i+1; j < lines.length; j++) {
				if (lines[j].substring(0, 6).toUpperCase() == "<SYNC ") { // 중간 싱크 끝나는 곳 찾기
					const text = SmiEditor.fillSync(lines.slice(lastSyncLine, j+1).join("\n"));
					lines = lines.slice(0, lastSyncLine).concat(text.split("\n").slice(0, j - lastSyncLine)).concat(lines.slice(j));
					lastSyncLine = j;
					i = j + 1;
					break;
				}
			}
			
		} else if (line.substring(0, 6).toUpperCase() == "<SYNC ") {
			lastSyncLine = i;
		}
	}
	
	// 한 싱크에 여러 줄이었던 것 복원
	for (let i = 0; i < lines.length; i++) {
		const line = lines[i].split("</>");
		if (line.length > 1) {
			lines = lines.slice(0, i).concat(line).concat(lines.slice(i+1));
			i += line.length - 1;
		}
	}
	range.push(range[0] + lines.join("\n").length);
	
	// 교체 및 종료
	origin.tab.setText(front.concat(lines).concat(origLines.slice(origin.end)).join("\n"), range);
	
	window.close();
}

$(() => {
	tab = (opener && opener.SmiEditor) ? opener.SmiEditor.selected : null;
	origin = tab ? tab.getText() : null;
	if (tab) {
		Subtitle.video = opener.Subtitle.video;
	}
	
	if (splitOrigin()) {
		$("#btnFrameAssToSmi").on("click", frameAssToSmi);
		
		$("#btnJoinFrame").on("click", joinFrame);
		
		// 마지막 입력 1초 후 체크
		let checkOnChange = null;
		$("#originFrameSmi, #targetFrameSmi").on("input propertychange", function() {
			const current = checkOnChange = setTimeout(() => {
				if (checkOnChange == current) {
					checkDiff();
				}
			}, 1000);
		});
		checkDiff();
		
		$("#btnApply").on("click", apply);
		
		const originFrameAss = $("#originFrameAss");
		const text = originFrameAss.val();
		setTimeout(() => { // textarea 렌더링 후 confirm 보여주기 위한 딜레이
			originFrameAss[0].select();
			originFrameAss.focus().scrollTop(0).scrollLeft(0);
			confirm("작업할 내역을 복사하시겠습니까?\nAegisub에서 작업이 필요합니다.", () => {
				if (opener && opener.binder && !opener.binder._) {
					// C# 프로그램에서 호출
					document.execCommand("copy");
				} else {
					// 웹버전에서 호출
					navigator.clipboard.writeText(text);
				}
			});
		}, 100); // 너무 빨리 키보드 누르면 confirm 뜨기 전에 textarea의 블록지정된 내용을 날려버림...
	}
});
	</script>
	<style>
body > * {
	position: absolute;
}
#originBasicSmi {
	top: 0;
	left: 0;
	width: 30%;
	height: 50%;
	background: #eff;
}
#originFrameAss {
	top: 0;
	left: 30%;
	width: 70%;
	height: calc(50% - 20px);
}
#btnFrameAssToSmi {
	top: calc(50% - 20px);
	left: 30%;
	width: calc(30% + 16px);
	height: 20px;
}
#areaFrameSmi {
	top: 50%;
	left: 0;
	width: calc(60% + 16px);
	height: 50%;
	overflow-y: scroll;
	background: #fff;
}
#btnJoinFrame {
	top: calc(50% - 20px);
	left: calc(60% + 16px);
	width: 20px;
	height: calc(50% + 20px);
}
#resultFrameSmi {
	top: calc(50% - 20px);
	left: calc(60% + 36px);
	width: calc(40% - 36px);
	height: 50%;
	background: #eff;
}
#btnApply {
	top: calc(100% - 20px);
	left: calc(60% + 36px);
	width: calc(40% - 36px);
	height: 20px;
}

#originFrameSmi,
#targetFrameSmi {
	position: absolute;
	width: 50%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: transparent;
}
#targetFrameSmi {
	left: 50%;
}
	</style>
</head>
<body>
	<textarea id="originBasicSmi" spellcheck="false" readonly></textarea>
	<textarea id="originFrameAss" spellcheck="false"></textarea>
	<button id="btnFrameAssToSmi" accesskey="1" title="Alt+1">∨</button>
	<div id="areaFrameSmi">
		<div id="checker"></div>
		<textarea id="originFrameSmi" spellcheck="false"></textarea>
		<textarea id="targetFrameSmi" spellcheck="false"></textarea>
	</div>
	<button id="btnJoinFrame" accesskey="2" title="Alt+2">&gt;</button>
	<textarea id="resultFrameSmi" spellcheck="false" readonly></textarea>
	<button id="btnApply" accesskey="3" title="Alt+3">적용</button>
</body>
</html>