<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>화면 싱크 매니저</title>
	<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/SubtitleObject.js"></script>
	<script src="../lib/popup.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css" />
	<script>
windowName = "addon";

// 초기 상태 기억
let tab = null;
const origins = [];

const RANGE = 10; // 현재 싱크 전후로 렌더링할 범위
let mode = 1;
const M = [null, "", "_", "~"]; // 모드에 따른 파일명 끝 표시

ready(() => {
	if (opener && opener.tabs && opener.tabs.length) {
		tab = opener.tabs[opener.tabIndex];
		Subtitle.video = opener.Subtitle.video;
	} else {
		alert("작업 대상이 없습니다.");
		window.close();
		return;
	}
	
    if (!Subtitle.video.fs.length) {
        alert("동영상 프레임 분석이 끝나야 진행할 수 있습니다.");
        window.close();
        return;
	}
    
	if (opener
	 && opener.binder
	 && opener.binder._
	 && (typeof opener.binder._ != "function") // WebView2에서는 선언 안 했어도 function을 반환함
	) {
		alert("웹샘플에서는 실제 렌더링이 진행되지 않습니다.\n필요 시 SyncManager 대신 구버전 SyncManager0을 활용할 수 있습니다.");
	}
    
    const TX = (opener.setting.sync.uiWidth  ? opener.setting.sync.uiWidth  : 96);
    const TY = (opener.setting.sync.uiHeight ? opener.setting.sync.uiHeight : 54);
    {
	    const $styleSize = $("#styleSize");
	    $styleSize.html($styleSize.html().replaceAll("96px", TX + "px").replaceAll("54px", TY + "px"));
    }
	
	{
		// 현재 선택된 홀드 기준
		const hold = (opener && opener.SmiEditor) ? opener.SmiEditor.selected : null;
		const origin = hold.getText(true);
		origin.hold = hold;
		origin.lines = hold.lines;
		
		origin.start = 0;
		origin.end = 0;
		
		if (hold.isAssHold) {
			// ASS만 작업
			origin.assBody = origin.hold.assEditor.syncs;
			origins.push(origin);
			
		} else {
			if (origin.selection[0] != origin.selection[1]) {
				// 블록지정 있으면 해당 홀드의 선택 범위만 작업
				origin.start = origin.text.substring(0, origin.selection[0]).split("\n").length - 1;
				origin.end   = origin.text.substring(0, origin.selection[1]).split("\n").length;
				origin.assBody = [];
				origins.push(origin);
				
			} else {
				// 전체 작업
			}
		}
	}
	
	let count = 0;
	
	if (origins.length) {
		// 선택된 홀드만 작업
		const origin = origins[0];
		
		const lines = origin.lines.slice(origin.start, origin.end);
		for (let i = 0; i < lines.length; i++) {
			lines[i] = lines[i].TEXT;
		}
		origin.smiFile = new Subtitle.SmiFile(lines.join("\n"));
		count = origin.smiFile.body.length + origin.assBody.length;
		
	} else {
		// 모든 홀드에 대해 작업
		const holds = tab.holds.slice(0);
		holds.push(tab.assHold);
		
		for (let i = 0; i < holds.length; i++) {
			const hold = holds[i];
			const origin = hold.getText(true);
			origin.hold = hold;
			origin.lines = hold.lines;
			
			origin.start = 0;
			origin.end = origin.text.split("\n").length;
			origin.assBody = origin.hold.assEditor ? origin.hold.assEditor.syncs : [];
			
			const lines = origin.lines.slice(origin.start, origin.end);
			for (let i = 0; i < lines.length; i++) {
				lines[i] = lines[i].TEXT;
			}
			origin.smiFile = new Subtitle.SmiFile(lines.join("\n"));
			count += origin.smiFile.body.length + origin.assBody.length;
			
			origins.push(origin);
		}
	}
	
	if (!count) {
		alert("작업 대상이 없습니다.");
		window.close();
		return;
	}
	
	const fs = Subtitle.video.fs;
	const kfs = Subtitle.video.kfs;
	const trustKeyFrame = opener.SmiEditor.trustKeyFrame;
	const renderFromKeyframe = Subtitle.video.path && Subtitle.video.path.endsWith(".m2ts");
	
	const $body = $("body");
	const $tbody = $("#editor tbody").empty();
	const $framesStorage = $("<div>"); // 객체 remove 하면 data가 날아가서 여기에 보관함
	const frameSyncs = [];
	
	function setFrames($frames, frameIndex, flag) {
		for (let j = -RANGE; j < RANGE; j++) {
			const imgIndex = frameIndex + j;
			const $img = $("<img>").addClass("frame img" + imgIndex + flag).css({ left: (j * (TX + 2)) }).data({ index: imgIndex, offset: j });
			if (trustKeyFrame && Subtitle.findSync(fs[imgIndex], kfs, false)) {
				$img.addClass("keyframe");
			}
			$frames.append($img);
		}
	}
	
	for (let oi = 0; oi < origins.length; oi++) {
		const origin = origins[oi];
		
		let lastIndex = -1;
		let count = 0;
		if (origin.smiFile.body) {
			// SMI
			let lastFade = 0;
			for (let i = 0; i < origin.smiFile.body.length; i++) {
				const smi = origin.smiFile.body[i];
				let fade = 0;
				if (smi.text.indexOf("\\fade(")) {
					if (smi.text.indexOf("\\fade(0")) {
						// ASS 페이드인
						fade = 1;
					} else {
						// ASS 페이드아웃
						fade = -1;
					}
				} else {
					// SMI 페이드 여부 확인
					const attrs = smi.toAttrs();
					for (let j = 0; j < attrs.length; j++) {
						const attr = attrs[j];
						if (attr.fade == -1 || attr.fade == 1) {
							fade = attr.fade;
							break;
						}
					}
				}
				
				const $tr = $("<tr>").data({ oi: oi, smi: smi, origin: smi.start });
				
				if (smi.syncType == Subtitle.SyncType.frame) {
					const frameIndex = Subtitle.findSyncIndex(smi.start, fs);
					const $frames = $("<div>").addClass("frames");
					const $sync = $("<td>").addClass("sync");
					setSync($sync, ((frameIndex < fs.length) ? fs[frameIndex] : 99999999));
					$framesStorage.append($frames);
					$tr.addClass("fs").append($("<td>")).append($sync);
					frameSyncs.push($tr);
					
					let flag = "";
					if (fade == 1) {
						// 페이드인 시작 이미지 밝게
						flag = "b";
					} else if (fade == -1) {
						// 페이드아웃 시작 이미지 어둡게
						flag = "d";
					} else if (lastFade == -1) {
						// 페이드아웃 종료 이미지 밝게
						flag = "b";
					} else if (lastFade == 1) {
						// 페이드인 종료 이미지 어둡게
						flag = "d";
					}
					$tr.data({ index: (lastIndex = frameSyncs.length - 1), $frames: $frames, frameIndex: frameIndex, offset: 0, flag: flag });
					count = 0;
					
					setFrames($frames, frameIndex, flag);
					
				} else {
					$tr.append($("<td>")).append($("<td>").addClass("sync").text(smi.syncType == Subtitle.SyncType.inner ? "~" : smi.start));
					$tr.data({ index: (frameSyncs.length - 1) + (++count / 10000) }); // 10000개를 넘어갈 일은 없을 것
				}
				$tbody.append($tr.append($("<td>").text(smi.text.replaceAll("\n", "")).attr("title", smi.text)));
				
				lastFade = fade;
			}
		}
		if (origin.assBody) {
			// ASS
			for (let i = 0; i < origin.assBody.length; i++) {
				const ass = origin.assBody[i];
				let start = Number(ass.inputStart.val());
				let end   = Number(ass.inputEnd  .val());
				
				{	// start
					const $tr = $("<tr>").data({ ass: ass, type: "start", origin: start });
					
					if (ass.checkStart.prop("checked")) {
						const frameIndex = Subtitle.findSyncIndex(start, fs);
						const $frames = $("<div>").addClass("frames");
						const $sync = $("<td>").addClass("sync");
						setSync($sync, ((frameIndex < fs.length) ? fs[frameIndex] : 99999999));
						$framesStorage.append($frames);
						$tr.addClass("fs").append($("<td>")).append($sync);
						frameSyncs.push($tr);
						
						// TODO: 페이드는?
						let flag = "";
						
						$tr.data({ index: (lastIndex = frameSyncs.length - 1), $frames: $frames, frameIndex: frameIndex, offset: 0, flag: flag });
						count = 0;
						
						setFrames($frames, frameIndex, flag);
						
					} else {
						$tr.append($("<td>")).append($("<td>").addClass("sync").text(start));
						$tr.data({ index: (frameSyncs.length - 1) + (++count / 1000) }); // 1000개를 넘어갈 일은 없을 것
					}
					const assText = ass.inputText.val();
					$tbody.append($tr.append($("<td>").attr({ rowspan: 2 }).text(assText).attr("title", assText.replaceAll("{", "\n{").replaceAll("}", "}\n"))));
				}
				
				{	// end
					const $tr = $("<tr>").data({ ass: ass, type: "end", origin: end });
					
					if (ass.checkEnd.prop("checked")) {
						const frameIndex = Subtitle.findSyncIndex(end, fs);
						const $frames = $("<div>").addClass("frames");
						const $sync = $("<td>").addClass("sync");
						setSync($sync, ((frameIndex < fs.length) ? fs[frameIndex] : 99999999));
						$framesStorage.append($frames);
						$tr.addClass("fs").append($("<td>")).append($sync);
						frameSyncs.push($tr);
						
						// TODO: 페이드는?
						let flag = "";
						
						$tr.data({ index:(lastIndex = frameSyncs.length - 1), $frames: $frames, frameIndex: frameIndex, offset: 0, flag: flag });
						count = 0;
						
						setFrames($frames, frameIndex, flag);
						
					} else {
						$tr.append($("<td>")).append($("<td>").addClass("sync").text(end));
						$tr.data({ index: lastIndex + (++count / 10000) }); // 10000개를 넘어갈 일은 없을 것
					}
					$tbody.append($tr);
				}
			}
		}
	}
	
	function renderThumbnails() {
		const datas = [];
		$tbody.find("tr.fs").each(function() {
			const $tr = $(this);
			datas.push($tr.data());
		});
		// ASS 지원하면서 정렬 기능이 필요해짐
		datas.sort((a, b) => {
			return a.frameIndex - b.frameIndex;
		});
		
		const renderList = [];
		let renderGroup = { end: -11 };
		
		for (let i = 0; i < datas.length; i++) {
			const data = datas[i];
			
			const begin = data.offset + (data.frameIndex < RANGE ? 0 : data.frameIndex - RANGE);
			const end   = data.offset + (data.frameIndex + RANGE > fs.length ? fs.length : data.frameIndex + RANGE);
			
			let fs0 = fs[begin];
			if (renderFromKeyframe) {
				// 필요한 프레임 바로 앞 키프레임 찾기
				let index = Subtitle.findSyncIndex(fs0, kfs);
				if (kfs[index] > fs0) {
					index--;
				}
				fs0 = kfs[index];
			}
			
			if ((renderGroup.flag == data.flag)
			 && (fs0 < fs[renderGroup.end] + 500) // 렌더링에 필요한 프레임이 앞쪽과 500ms 이내로 이어질 때
			) {
				renderGroup.end = end;
				
			} else {
				renderList.push(renderGroup = {
						flag: data.flag
					,	time: fs0 // 다시 테스트해보니 여긴 반올림 대신 버림 하는 게 맞음
					,	begin: begin
					,	end: end
				});
			}
			
			let $imgs = data.$frames.children();
			for (let i = 0; i < $imgs.length; i++) {
				$imgs[i] = $($imgs[i]);
			}
			for (let j = data.offset - RANGE; j < data.offset + RANGE; j++) {
				const imgIndex = data.frameIndex + j;
				const cName = "img" + imgIndex + data.flag;
				if (data.$frames.find("." + cName).length == 0) {
					const $img = $("<img>").addClass("frame " + cName).css({ left: (j * (TX + 2)) }).data({ index: imgIndex, offset: j });
					if (trustKeyFrame && Subtitle.findSync(fs[imgIndex], kfs, false)) {
						$img.addClass("keyframe");
					}
					$imgs.push($img);
				}
			}
			$imgs.sort((a, b) => {
				const v = a.data("index") - b.data("index");
				return (v > 0) ? 1 : ((v < 0) ? -1 : 0);
			});
			for (let i = 0; i < $imgs.length; i++) {
				data.$frames.append($imgs[i]);
			}
		};
		if (renderList.length == 0) {
			return false;
		}
		
		// 이미지 렌더링 요청
		let params = [];
		for (let i = 0; i < renderList.length; i++) {
			const group = renderList[i];
			// [ 시작시간, 길이, 시작인덱스, 종료인덱스, 플래그 ]
			params.push([group.time, fs[group.end] - group.time, group.begin, group.end, group.flag].join(","));
		}
		opener.binder.renderThumbnails(Subtitle.video.path, params.join("\n"));
		return true;
	}
	if (!renderThumbnails()) {
		alert("작업 대상이 없습니다.");
		window.close();
		return;
	}
	
	let fileSeq = 0;
	opener.setThumbnailsFileSeq = function(thumbnailsFileSeq) {
		fileSeq = thumbnailsFileSeq;
	}
	
	// 렌더링 중일 때 색깔 넣어줌
	opener.startRenderThumbnails = function(begin, end, flag) {
		for (let i = begin; i < end; i++) {
			$tbody.find("img.img" + i + flag).addClass("rendering");
			$framesStorage.find("img.img" + i + flag).addClass("rendering");
		}
		$body.scroll();
	}
	opener.startCompareThumbnails = function (begin, end, flag) {
		for (let i = begin; i < end; i++) {
			$tbody.find("img.img" + i + flag).removeClass("rendering").addClass("comparing");
			$framesStorage.find("img.img" + i + flag).removeClass("rendering").addClass("comparing");
		}
		$body.scroll();
	}
	
	// 렌더링 완료 후 이미지 세팅
	// 미리 값을 넣어주면 삭제되지 않은 다른 영상 섬네일 가져올 수 있음
	opener.afterRenderThumbnails = function(begin, end, flag) {
		for (let i = begin; i < end; i++) {
			$tbody.find("img.img" + i + flag).data({ img: i + flag });
			$framesStorage.find("img.img" + i + flag).data({ img: i + flag });
		}
		$body.scroll();
	}
	// 차이 비교값... 현재 쓰이지 않음...
	const diffs = {};
	opener.setDiff = function(key, diff) {
		diffs[key] = diff;
	}
	
	window.selected = -1;
	function select(index, $tr=null) {
		if (selected == index) return;
		
		const byKeyboard = ($tr === true);
		let scrollMargin = 30;
		
		if (byKeyboard) {
			$tr = null;
			scrollMargin = opener.setting.scrollMargin * 30;
		}
		
		selected = index;
		if ($tr == null) {
			$tr = frameSyncs[selected];
		}
		
		$tbody.find("tr.selected").removeClass("selected");
		$tr.addClass("selected");
		
		const offset = $tr.offset();
		if (offset.top < (byKeyboard ? scrollMargin : 0)) {
			$body.stop().animate({ scrollTop: $body.scrollTop() + offset.top - scrollMargin }, 200);
		} else {
			const bottom = offset.top + TY + 2;
			const margin = $body.height() - bottom;
			if (margin < (byKeyboard ? scrollMargin : 0)) {
				$body.stop().animate({ scrollTop: $body.scrollTop() - margin + scrollMargin }, 200);
			}
		}
	}
	function setSync($td, sync) {
		$td.text(sync == 0 ? 1 : sync);
		if (!trustKeyFrame) return;
		if (Subtitle.findSync(sync, kfs, false)) {
			$td.addClass("keyframe");
		} else {
			$td.removeClass("keyframe");
		}
	}
	function moveSync(direction, isOffset=false) {
		const $tr = frameSyncs[selected];
		const data = $tr.data();
		
		const offset = isOffset ? direction : (data.offset + direction);
		//if (offset < -12 || offset >= 12) return;
		
		const index = data.frameIndex + offset;
		if (index < 0) return;
		
		$tr.data({ offset: offset });
		data.$frames.css({ left: "calc(50% - " + (offset * (TX + 2)) + "px)" });
		
		setSync($tr.find("td.sync"), fs[index]);
	}
	
	function apply() {
		const smis = [];
		for (let oi = 0; oi < origins.length; oi++) {
			smis[oi] = [];
		}
		let countSmi = 0;
		$tbody.find("tr").each(function() {
			const $tr = $(this);
			const data = $tr.data();
			if (data.smi) {
				if ($tr.hasClass("fs")) {
					data.smi.start = Number($tr.find(".sync").text());
				}
				smis[data.oi].push(data.smi);
				countSmi++;
				
			} else if (data.ass && $tr.hasClass("fs")) {
				const sync = Number($tr.find(".sync").text());
				if (data.type == "start") {
					data.ass.inputStart.val(sync);
				} else if (data.type == "end") {
					data.ass.inputEnd.val(sync);
				}
				data.ass.update();
			}
		});
		if (!countSmi) {
			// SMI 내역 없음 = ASS 편집
			return;
		}
		
		// 중간 싱크 재계산
		for (let oi = 0; oi < origins.length; oi++) {
			const hold = smis[oi];
			
			let startIndex = -1;
			for (let i = 1; i < hold.length; i++) {
				if (hold[i].syncType == Subtitle.SyncType.inner) {
					if (startIndex < 0) {
						startIndex = i - 1;
					}
				} else {
					if (startIndex >= 0) {
						const endIndex = i;
						const startSync = hold[startIndex].start;
						const endSync   = hold[endIndex  ].start;
						const count = endIndex - startIndex;
						
						for (let j = 1; j < count; j++) {
							hold[startIndex + j].start = Math.round(((count - j) * startSync + j * endSync) / count);
						}
						startIndex = -1;
					}
				}
			}
		}
		
		for (let oi = 0; oi < origins.length; oi++) {
			const origin = origins[oi];
			
			const result = new Subtitle.SmiFile();
			result.header = origin.smiFile.header;
			result.footer = origin.smiFile.footer;
			result.body = smis[oi];
			
			// 해당 줄 앞뒤 전체 선택되도록 조정
			const origLines = origin.text.split("\n");
			const prev = origLines.slice(0, origin.start).join("\n");
			const next = origLines.slice(origin.end).join("\n");
			
			// 에디터에 적용
			const text = (prev ? prev + "\n" : "") + result.toText() + (next ? "\n" + next : "");
			// 현재 커서 위치를 기반으로 다시 맞춤
			const selectedLine = origin.hold.input.value.substring(0, origin.hold.input.selectionEnd).split("\n").length;
			const cursor = text.split("\n").slice(0, selectedLine - 1).join("\n").length + 1;
			origin.hold.history.log();
			origin.hold.setText(text, [cursor]);
		}
	}
	
	$tbody.on("click", "tr", function(e) {
		const $tr = $(this);
		select($tr.data("index"), $tr);
		
	}).on("dblclick", "tr.fs", function(e) {
		// 에디터 해당 싱크로 이동
		opener.SmiEditor.selected.findSync(Number($(this).find("td.sync").text()) + 1);
		
	}).on("click", "img.frame", function(e) {
		const $img = $(this);
		select($img.parents("tr").data("index"));
		moveSync($img.data("offset"), true);
	});
	
	$(document).on("keydown", function(e) {
		switch (e.key) {
			case "ArrowUp": {
				e.preventDefault();
				if (e.ctrlKey || selected == 0) {
					$body.stop().animate({ scrollTop: $body.scrollTop() - (TY + 2) }, 200);
					break;
				}
				if (selected > 0) {
					if (selected % 1) {
						select(Math.floor(selected), true);
					} else {
						select(selected - 1, true);
					}
				}
				break;
			}
			case "ArrowDown": {
				e.preventDefault();
				if (e.ctrlKey || selected == frameSyncs.length - 1) {
					$body.stop().animate({ scrollTop: $body.scrollTop() + (TY + 2) }, 200);
					break;
				}
				if (selected < frameSyncs.length - 1) {
					if (selected % 1) {
						select(Math.ceil(selected), true);
					} else {
						select(selected + 1, true);
					}
				}
				break;
			}
			case "ArrowLeft": {
				moveSync(-1);
				break;
			}
			case "ArrowRight": {
				moveSync(+1);
				break;
			}
			case "Delete": {
				moveSync(0, true);
				break;
			}
			case "q": {
				if (!e.shiftKey && e.ctrlKey && !e.altKey) {
					opener.binder.moveTo(Number(frameSyncs[selected].find(".sync").text()) - 2000);
				}
				break;
			}
		}
	}).on("keydown", "input[name=mode]", function(e) {
		// 모드 선택 후에도 방향키 조작은 원래대로 동작해야 함
		e.preventDefault();
	});
	
	$tbody.on("load", "image", function() {
		// 이미지 로딩 성공 후엔 추가 갱신 없도록 함
		$(this).data({ img: null });
	});
	function refreshImages($imgs) {
		$imgs.each(function () {
			const $img = $(this);
			const img = $img.data("img");
			if (img) {
				$img.attr({ src: "../../temp/thumbnails/" + fileSeq + "_" + img + M[mode] + ".jpg" });
			}
		});
	}
	function showFrames($tr) {
		const showing = $tr.hasClass("showing");
		const $frames = $tr.data("$frames");
		refreshImages($frames.find("img"));
		if (!showing) {
			$tr.addClass("showing").find("td:eq(0)").append($frames);
		}
	}
	function hideFrames($tr) {
		if ($tr.hasClass("showing")) {
			$tr.removeClass("showing");
		}
		const $frames = $tr.data("$frames");
		$framesStorage.append($frames);
	}
	$(window).on("resize", function(e) {
		$("body").scroll();
	});
	$("body").on("scroll", function(e) {
		let status = -1;
		$("#editor tbody tr.fs").each(function() {
			const $tr = $(this);
			
			if (status < 1) {
				const offset = $tr.offset();
				
				if (status < 0) {
					if (offset.top + TY + 2 < 0) {
						// 위쪽에 있어서 안 보임
						hideFrames($tr);
						return;
					}
				}
				if (offset.top > $body.height()) {
					// 아래쪽에 있어서 안 보임
					hideFrames($tr);
					return;
				}
				
				showFrames($tr);
				
			} else {
				// 아래쪽에 있어서 안 보임
				hideFrames($tr);
			}
		});
	}).scroll();
	
	$("#inputShift").on("keydown", function(e) {
		// 가중치 입력 중엔 방향키 조작 차단
		e.stopPropagation();
	});
	
	$("#formShift").on("submit", function() {
		const shift = Number($("#inputShift").val());
		$("#editor tbody tr.fs").each(function () {
			const $tr = $(this);
			const data = $tr.data();
			const frameIndex = Subtitle.findSyncIndex(data.origin, fs);
			const shiftIndex = Subtitle.findSyncIndex(data.origin + shift, fs);
			const offset = shiftIndex - frameIndex;
			$tr.data({ offset: offset });
			$tr.data("$frames").css({ left: "calc(" + (-(TX + 2) * offset) + "px + 50%" });
			setSync($tr.find("td.sync"), fs[shiftIndex]);
		});
		return false;
	}).on("click", "input[name=mode]", function() {
		mode = $("input[name=mode]:checked").val();
		refreshImages($tbody.find("img"));
		for (let i = 1; i <= 3; i++) {
			if (i == mode) {
				$body.addClass("mode" + i);
			} else {
				$body.removeClass("mode" + i);
			}
		}
	});
	
	$("#btnApply").on("click", function() {
		apply();
		// 조정한 타이밍에 맞춰서 추가 렌더링
		renderThumbnails();
	});
	$("#btnSet").on("click", function () {
		apply();
		window.close();
	});
	
	// 페이지 벗어날 경우 렌더링 취소
	window.onunload = function () {
		opener.binder.cancelRenderThumbnails();
	}
	
	select(0);
});
	</script>
	<style>
body {
	overflow-y: scroll;
}
#editorLayer {
	position: relative;
}
#editor {
	width: 100%;
	border: 0;
	table-layout: fixed;
}
#editor tr {
	color: #888;
}
#editor tr.fs {
	color: #000;
}
#editor tr.selected td {
	background: #ffc;
}
#editor td {
	overflow: hidden;
	padding: 4px 2px;
}
#editor td:first-child {
	position: relative;
	border-left: 0;
}
#editor td.sync {
	text-align: right;
}
#editor td.sync.keyframe {
	font-weight: bold;
}
#editor td:last-child {
	white-space: pre;
	border-right: 0;
}
#editor .frames {
	position: absolute;
	top: 0;
	left: 50%;
	transition: 0.2s;
}
#editor .frame {
	display: block;
	position: absolute;
	top: 0;
	border: 1px solid #888;
	cursor: pointer;
	transition: 0.2s;
}
#editor .frame.keyframe {
	border-left-color: #f88;
}
#editor .frame.rendering {
	background: #fee;
}
#editor .frame.comparing {
	background: #efe;
}
#editor .frame:hover {
	border-color: #f88;
	opacity: 0.8;
}
.frameChecker {
	position: absolute;
	top: 0;
	width: 1px;
	background: #f0f;
	bottom: 0;
	border: 0;
	transition: 0.2s;
}
#formShift, #btnApply, #btnSet {
	position: fixed;
	opacity: 0.5;
	right: 0;
}
#formShift:hover, #btnApply:hover {
	opacity: 1;
}
#formShift {
	top: 0;
	border: 0 solid #aaa;
	border-width: 0 0 1px 1px;
	background: #fff;
	width: 160px;
	padding: 4px;
}
#inputShift {
	width: 50px;
}
#btnShift {
	width: 50px;
}
#btnApply {
	width: 100px;
	height: 30px;
	bottom: 30px;
}
#btnSet {
	width: 100px;
	height: 30px;
	bottom: 0;
}
	</style>
	<style id="styleSize">
#editor tr.fs {
	height: calc(54px + 3px);
}
#editor .frame {
	height: calc(54px + 2px);
}
#editor .frame {
	width: calc(96px + 2px);
	height: calc(54px + 2px);
}
.frameChecker.left  { left: calc(35% - 1.5px); }
.frameChecker.right { left: calc(35% - 0.5px); }
body:not(.mode1) #editor .frames {
	margin-left: calc(-96px / 2 - 1px);
}
body:not(.mode1) .frameChecker.left  { left: calc(35% - (96px / 2) - 1.5px); }
body:not(.mode1) .frameChecker.right { left: calc(35% + (96px / 2) + 0.5px); }
body:not(.mode1) .frame:first-child { margin-left: calc(96px + 2px); }
	</style>
</head>
<body class="mode1">
	<div id="editorLayer">
		<table id="editor">
			<colgroup>
				<col style="width: 70%;" />
				<col style="width: 80px;" />
				<col />
			</colgroup>
			<thead></thead>
			<tbody></tbody>
			<tfoot></tfoot>
		</table>
		<div class="frameChecker left"></div>
		<div class="frameChecker right"></div>
	</div>
	<form id="formShift"><label>가중치 <input id="inputShift" type="number" value="0" /></label><button type="submit" id="btnShift">초기화</button>
		<ol>
			<li title="Alt+1"><label><input type="radio" name="mode" value="1" accesskey="1" checked /> 기본</label></li>
			<li title="Alt+2"><label><input type="radio" name="mode" value="2" accesskey="2" /> 이전 프레임과 차이</label></li>
			<li title="Alt+3"><label><input type="radio" name="mode" value="3" accesskey="3" /> 밝기 변화</label></li>
		</ol>
	</form>
	<button type="button" id="btnApply" title="Alt+A" accesskey="a">적용</button>
	<button type="button" id="btnSet"   title="Alt+S" accesskey="s">적용 후 닫기</button>
</body>
</html>