<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>ASS 자막으로 변환</title>
	<script src="../lib/jquery-3.2.1.min.js"></script>
	<script src="../lib/popup.js"></script>
	<script src="../lib/SubtitleObject.js"></script>
	<script src="../lib/Combine.js"></script>
	<script src="../lib/SmiEditor.js"></script>
	<link rel="stylesheet" type="text/css" href="../lib/popup.css" />
	<script>
windowName = "addon";

let editor = null;

ready(() => {
	if (opener && opener.SmiEditor) {
		editor = opener.SmiEditor.selected;
	} else {
		alert("작업 대상이 없습니다.");
	}
	alert("본 기능은 더 이상 사용되지 않습니다.");
	
	Subtitle.video = opener.Subtitle.video;
	DefaultStyle.Fontsize = opener.Subtitle.DefaultStyle.Fontsize;
	
	{
		let start = 0;
		let end = editor.lines.length;
		const range = editor.getCursor();
		if (range[0] != range[1]) {
			// 블록 지정이 있을 경우
			start = editor.text.substring(0, range[0]).split("\n").length - 1;
			end   = editor.text.substring(0, range[1]).split("\n").length;
			const smiFile = new Subtitle.SmiFile(linesToText(editor.lines.slice(start, end)));
			smiFile.body = Subtitle.Smi.normalize(smiFile.body).result;
			$("#input").val(smiFile.toText());
		} else {
			// 블록 지정이 없을 경우: 모든 홀드 가져오기
			$("#input").val(editor.owner.getSaveText(false));
		}
	}
	
	$("#btnExport").on("click", function() {
		const holds = Subtitle.SmiFile.textToHolds($("#input").val());
		const assFile = new AssFile();
		
		for (let h = 0; h < holds.length; h++) {
			const hold = holds[h];
			const name = h == 0 ? "Default" : hold.name;
			const style = hold.style ? hold.style : DefaultStyle;
			
			if (style.Fontsize == 0) {
				// 크기 0은 ASS 변환 대상 제외
				continue;
			}
			
			assFile.addStyle(name, style, hold);
			
			const input = hold.body ? hold : new Subtitle.SmiFile(hold.text);
			{
				if (opener && opener.SmiEditor && opener.SmiEditor.sync && opener.SmiEditor.sync.frame) {
					if (opener.Subtitle.video.fs.length) {
						const fs = opener.Subtitle.video.fs;
						for (let i = 0; i < input.body.length; i++) {
							const item = input.body[i];
							item.start = AssEvent.optimizeSync(item.start);
						}
					} else {
						const FL = opener.Subtitle.video.FL;
						for (let i = 0; i < input.body.length; i++) {
							const item = input.body[i];
							item.start = Math.max(1, ((Math.round(item.start / FL) - 0.5) * FL));
						}
					}
				}
			}
			assFile.addFromSync(input.toSyncs(), name);
		}
		assFile.getEvents().body.sort((a,b) => {
			let cmp = a.Start - b.Start;
			if (cmp == 0) {
				cmp = a.Layer - b.Layer;
			}
			return cmp;
		});
		console.log(assFile);
		$("#output").val(assFile.toText());
		
	}).click();
});
	</script>
	<style>
#input {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	bottom: 0;
}
#btnExport {
	position: absolute;
	top: 0;
	left: 40%;
	width: 20px;
	bottom: 0;
}
#output {
	position: absolute;
	top: 0;
	left: calc(40% + 20px);
	width: calc(60% - 20px);
	bottom: 0;
}
	</style>
</head>
<body>
	<textarea id="input"></textarea>
	<button id="btnExport">＞</button>
	<textarea id="output">이곳의 결과물은 완성본이 아니며, Aegisub에 복사한 후 추가 작업이 필요합니다.
</textarea>
<!--
화면 싱크를 사용한 경우 Default가 아닌 （］,［）,［］로 분류됩니다.
-->
</body>
</html>