<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>ASS 싱크 보정기</title>
	<script src="lib/webview.js"></script>
	<script src="lib/SubtitleObject.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/webview.css" />
	<script>
let sw = 0;
let fs = [];
let aegisubSyncs = [0];
let HFL = 41.7;

function drop(x, y) {
	binder.dropFiles();
}

function setAssFile(name, text) {
	labelAss.querySelector("span").innerText = name;
	origin.value = text;
	result.value = "";
	
	const lines = text.split("\n");
	let isAPG = false;
	for (let i = 0; i < lines.length; i++) {
		const line = lines[i].trim();
		if (isAPG) {
			if (!line) {
				isAPG = false;
			} else if (line.startsWith("Video File: ")) {
				let videoFile = line.substring(12);
				if (videoFile.indexOf(":") < 0) {
					videoFile = name.substring(0, name.replaceAll("/", "\\").lastIndexOf("\\") + 1) + videoFile;
				}
				setVideoFile(videoFile);
				binder.setVideoFile(videoFile);
				break;
			}
		} else {
			if (line == "[Aegisub Project Garbage]") {
				isAPG = true;
			}
		}
	}
}
function setVideoFile(name) {
	labelVideo.classList.add("disabled");
	labelVideo.querySelector("span").innerText = name;
	fs = [];
}
function setFkfFile(file) {
	if (typeof file == "string") {
		const paths = file.replaceAll("\\", "/").split("/");
		paths[paths.length - 1] = encodeURIComponent(paths[paths.length - 1]);
		const path = (paths.length > 1 ? ("file://" + paths.join("/")) : ("../temp/fkf/" + paths[0]));
		const req = new XMLHttpRequest();
		req.open("GET", path);
		req.responseType = "arraybuffer";
		req.onload = (e) => {
			afterLoadFkfFile(req.response);
		}
		req.onerror = (e) => {
			// 실패했어도 프로그레스바는 없애줌
			Progress.set("#labelVideo", 0);
		}
		req.send();
		
	} else {
		// 웹버전 샘플에서 fkf 파일 열었을 경우
		const fr = new FileReader();
		fr.onload = function(e) {
			afterLoadFkfFile(e.target.result);
		}
		fr.readAsArrayBuffer(file);
	}
}
function afterLoadFkfFile(buffer) {
	const fkf = new Int32Array(buffer);
	const vfsLength = fkf[0];
	
	Subtitle.video.fs = fs = [];
	const view = new DataView(buffer.slice(8, 8 + (vfsLength * 4)));
	for (let i = 0; i < vfsLength; i++) {
		fs.push(view.getInt32(i * 4, true));
	}
	HFL = fs[fs.length - 1] / fs.length / 2
	
	labelVideo.classList.remove("disabled");
}

function optimize() {
	const originScript = origin.value;
	if (!originScript) {
		alert("자막 정보가 없습니다.");
		return;
	}
	if (!fs.length) {
		alert("동영상 정보가 없습니다.");
		return;
	}
	
	const ass = new AssFile(originScript);
	const events = ass.getEvents().body;
	for (let i = 0; i < events.length; i++) {
		events[i].optimizeSync();
	}
	
	// 원래의 스크립트 순서를 기준으로, 시간이 겹치는 걸 기준으로 레이어 재부여
	{
		let forLayers = [];
		for (let i = 0; i < events.length; i++) {
			let item = events[i];
			let forLayer = forLayers[item.Layer];
			if (!forLayer) {
				forLayers[item.Layer] = forLayer = [];
			}
			forLayer.push(item);
		}
		let checkeds = [];
		for (let l = 0; l < forLayers.length; l++) {
			let forLayer = forLayers[l];
			if (!forLayer) continue;
			for (let i = 0; i < forLayer.length; i++) {
				const item = forLayer[i];
				let maxLayer = -1;
				for (let j = 0; j < checkeds.length; j++) {
					const checked = checkeds[j];
					if (item.start < checked.end && checked.start < item.end) {
						maxLayer = Math.max(maxLayer, checked.Layer);
					}
				}
				item.Layer = maxLayer + 1;
				checkeds.push(item);
			}
		}
	}
	
	// 시간 순 정렬 돌리고 시작
	events.sort((a, b) => {
		let cmp = a.start - b.start;
		if (cmp == 0) {
			cmp = a.end - b.end;
		}
		return cmp;
	});
	
	const resultScript = ass.toText();
	result.value = resultScript;
}

function save() {
	const text = result.value;
	if (text) {
		binder.save(labelAss.querySelector("span").innerText, text);
	} else {
		alert("변환 결과물이 없습니다.");
	}
}

let labelAss = null;
let labelVideo = null;
let origin = null;
let result = null;

ready(() => {
	document.addEventListener("dragenter", (e) => {
		e.preventDefault();
		binder.showDragging();
	});
	document.getElementById("cover").addEventListener("click", () => {
		binder.hideDragging();
	});
	
	labelAss   = document.getElementById("labelAss"  );
	labelVideo = document.getElementById("labelVideo");
	origin     = document.getElementById("origin"    );
	result     = document.getElementById("result"    );
	
	document.getElementById("btnOptimize").addEventListener("click", () => {
		optimize();
	});
	
	document.getElementById("btnSave").addEventListener("click", () => {
		save();
	});
});
	</script>
	<style>
body > * {
	position: absolute;
}
#labels {
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
}
#labels > div {
	position: relative;
	height: 20px;
	border-bottom: 1px solid #888;
}
#labels > div > * {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
#labels > div > span {
	padding: 2px;
}
#labels > div.disabled > span {
	opacity: 0.5;
}
textarea { border: 0; }
#origin {
	top: 40px;
	left: 0;
	width: calc(50% - 10px);
	height: calc(100% - 60px);
}
#btnOptimize {
	top: 40px;
	left: calc(50% - 10px);
	width: 20px;
	height: calc(100% - 60px);
	border-width: 0 1px;
}
#result {
	top: 40px;
	right: 0;
	width: calc(50% - 10px);
	height: calc(100% - 60px);
}
#btnSave {
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
}
	</style>
</head>
<body>
	<div id="labels">
		<div id="labelAss"><span></span></div>
		<div id="labelVideo"><span></span></div>
	</div>
	<textarea id="origin" placeholder="입력 파일"></textarea>
	<button id="btnOptimize">→</button>
	<textarea id="result" placeholder="출력 파일"></textarea>
	<button id="btnSave">저장</button>
</body>
</html>